body{
    text-align: center;
    padding: 0;
    margin: 0;
    background-image: url("https://i.pinimg.com/736x/97/07/f5/9707f5ee91e19509210da1734d78e8ea.jpg");

}
#d1{
    position: relative;
    top: 180px;
}
#b1{
    height: 50px;
    width: 120px;
    border: none;
    background-color: green;
    color: aliceblue;
    transition-duration: 0.7s;
    box-shadow:0px 0px 20px green;
    border-radius: 21px;
}
#b1:hover{
    transition-property: all;
    background-color:rgb(40, 207, 98); 
}
#b2{
    height: 50px;
    width: 120px;
    border: none;
    background-color: red;
    color: aliceblue;
    transition-duration: 0.7s;
    box-shadow: 0px 0px 20px red;
    border-radius: 21px;
}
#b2:hover{
    transition-property: all;
    background-color: rgb(230, 90, 90);
}